PORT=8000

DATABASE_POSTGRE_URL=postgresql://postgres:{your_password}@{your_host}:{your_port}/{your_database}
DATABASE_MONGODB_URL=mongodb://{your_host}:{your_port}/{your_schema}
REDIS_URL=redis://{your_host}:{your_port}

JWT_SECRET= your_access_token
JWT_EXPIRE_IN= 15m

REFRESH_JWT_SECRET=your_refresh_token
REFRESH_JWT_EXPIRE_IN=7d

ZAVU_API_KEY = zavu_api_key

APPWRITE_PROJECT_ID = your_project_id
APPWRITE_END_POINT = your_appwrite_endpoint
APPWRITE_API_KEY =  your_appwrite_api_key
APPWRITE_IMAGES_BUCKET_ID = your_image_bucket_id
APPWRTIE_AVATARS_BUCKET_ID =  your_avatar_bucket_id
APPWRITE_VIDEOS_BUCKET_ID = your_video_bucket_id

