services:
  mongodb:
    image: mongo:latest
    container_name: knozichat-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./data/mongo:/data/db

  redis:
    image: redis:latest
    container_name: knozichat-redis
    ports:
      - "6379:6379"

